:root {
  font-size: .875em;
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  font-family: "Lato", sans-serif;
}

#H {margin-right:0;}
#A {margin-right:.5rem;}
#B {margin-right:1rem;}

#D {margin-right:1.4rem;}
#E {margin-right:1.8rem;}
#F {margin-right:2.2rem;}

#G {margin-right:2.5rem;}
#C {margin-right:2.8rem;}

#I {margin-right:3rem;}
#J {margin-right:3rem;}
#K {margin-right:3rem;}

#L {margin-right:2.8rem;}
#N {margin-right:2.5rem;}

#O {margin-right:2.2rem;}
#M {margin-right:1.8rem;}
#Q {margin-right:1.4rem;}

#P {margin-right:1rem;}
#R {margin-right:.5rem;}
#S {margin-right:0;}

#AAA {margin-left:0;}
#BBB {margin-left:.5rem;}
#CCC {margin-left:1rem;}

#DDD {margin-left:1.4rem;}
#EEE {margin-left:1.8rem;}
#FFF {margin-left:2.2rem;}

#GGG {margin-left:2.5rem;}
#HHH {margin-left:2.8rem;}
#QQQ {margin-left:3rem;}

#PPP {margin-left:3rem;}

#OOO {margin-left:3rem;}
#RRR {margin-left:2.8rem;}
#NNN {margin-left:2.5rem;}

#SSS {margin-left:2.2rem;}
#KKK {margin-left:1.8rem;}
#LLL {margin-left:1.4rem;}

#III {margin-left:1rem;}
#JJJ {margin-left:.5rem;}
#MMM {margin-left:0;}

header {
  width: 90%;
  margin:  0 auto 12px;
  /* box-sizing: border-box; */
}
.carcontain {
  position: relative; 
  perspective: 2400px; 
  perspective-origin:  50% 20%;
  width: 520px;
  height: 48px;
  margin: 0 auto 40px;
}

#carousel {
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 1s;
/*   transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: initial;
  transition-delay: initial; */
}

.slide a { 
  text-decoration: none;
  color: ivory;
  font-family: Ubuntu;
    font-size:  1.25rem;
    font-weight: 500;
}

#carousel figure {
  display: block;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 500px;
  height: 36px;
  top: 10px;
  left: 10px;
  border: 1px solid black;
  padding: 1rem;
} 

#carousel .slide:nth-child(1) {
 background:hsla( 0, 90%, 0%, .8);
 transform: rotateY(0deg) translateZ( 442px ); 
}
.slide:nth-child(2) { 
  background: hsla( 120, 100%, 35%, .8);
  transform: rotateY(60deg) translateZ( 442px );
}
.slide:nth-child(3) {
  background:hsla( 240, 100%, 50%, .8);
  transform: rotateY(120deg) translateZ( 449px );
}
.slide:nth-child(4) {
  background: hsla( 300, 100%, 50%, .8);
  transform: rotateY(180deg) translateZ( 449px );
}
#carousel .slide:nth-child(5) {
 background:hsla( 30, 100%, 50%, .8);
 transform: rotateY(240deg) translateZ( 449px );
}
#carousel .slide:nth-child(6) {
  background: hsla( 180, 100%, 30%, .8);
  transform: rotateY(300deg) translateZ( 449px );
}
#left {
  display: inline;
  float: left;
  color: #999;
  position: absolute;
  left: 20px;
  top: 20px;
/*   background: #999; */
}


span.wac { color: hsla( 180, 100%, 30%, 1); }
span.cclo { color:hsla( 240, 100%, 50%, 1);}
span.wpa {color:hsla( 30, 100%, 50%, 1);}
span.ilcs {color: hsla( 300, 100%, 50%, 1);}
span.acrl {color: hsla( 120, 100%, 35%, 1);}
span.schaffer {color: hsla(0, 100%, 0%, .8 );}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 4%;
  height: 100%;
}

.framework {
  grid-column: 2/3;
  grid-row: 2/2;
  justify-self: center;
  justify-items: center;
  text-align: center;
  margin-top: 3rem;
}

.framework .node {
  margin:  .8rem 0;
  font-size:  1.1rem;
}
.outcomes1 {
  grid-row: 2/2;
  justify-self: end;
  justify-items: end;
  text-align: right;
}

.outcomes1 .node {
  justify-items: end;
  min-height: 1.2rem;
  font-size:  1rem;
}

.outcomes2 {
  grid-column: 3/3;
  grid-row: 2/2;
  justify-self: start;
  justify-items: start;
  text-align: left;
}

.outcomes2 .node {
  justify-items: start;
  min-height: 1.2rem;
  font-size:  1rem;
}

.hilite {
  border-radius: 8px;
  border:  1px solid black;
  box-shadow:  2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  opacity: 1;
}

.lolite {
  opacity: .25;
}

#d3force {
  position: fixed;
  background-color: #d4d5d6;
  height: 100vh;
  width: 100vw;
  margin-left: 100%;
  transition-property: width, margin-left;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

#d3force1 {
  position: fixed;
  background-color:  rgb(200,200,200);
  height: 100vh;
  width: 0;
  margin-right: 100%;
  transition-property: width, margin-right;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

div.tooltip {
  width: 150px;
  height: auto;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding: 8px;
  border: none; 
  border-radius: 8%;
}

.tiptop {
  border-bottom:  2px solid white;
  box-shadow: 0 25px 40px -4px rgba(255,252,244, .8);
  background: -webkit-linear-gradient(top, #d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
  background: -moz-linear-gradient(top, #d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
  background: linear-gradient(to bottom,#d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation:  glower .75s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation:  alight 1s ease-in-out;
}

.tipright {
  box-shadow:-34px 0 28px -1px rgba(255,252,244, .8);  
  background: -webkit-linear-gradient(right, #d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
  background: -moz-linear-gradient(right, #d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
  background: linear-gradient(to left, #d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
  border-bottom:  2px solid white;
  border-left:  2px solid white;
  transition-property: opacity;
  transition-duration: .75s;
  transition-timing-function: ease-in-out;
}

@keyframes glower {
  from {
    box-shadow: 0 0 #d4d5d6; 
  }
  to {
    box-shadow: 0 25px 40px -4px rgba(255,252,244, .8)
  }
}

@keyframes alight {
  from {
    background: -webkit-linear-gradient(#d4d5d6, #d4d5d6);
    background: -moz-linear-gradient(#d4d5d6, #d4d5d6);
    background: linear-gradient(#d4d5d6, rgba(255,252,244, .2) 10%, rgba(255,252,244, .4) 10%);
  }
  to {
    background: -webkit-linear-gradient(#d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
    background: -moz-linear-gradient(#d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
    background: linear-gradient(#d4d5d6, rgba(255,252,244, .2) 30%, rgba(255,252,244, .8));
  }
}

#chevron {
  margin: 50vh .5rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  display: none;
}

@media (max-width: 1000px) {
   #chevron {
    display: none;
  }
}

@media (max-width: 1150px) {
  #chevron {
    font-size: .75rem;
  }
}

@media (max-width:1000px) {
  #carousel {
    display: none;
  }
}


span {
  display: inline-block;
  padding: 6px;
}

text {
  pointer-events: inherit;
  stroke: #666; 
  fill: #000; 
  stroke-width: 1px;
  background-color: rgba(255,252,244, .8);
} 

tspan {
  letter-spacing: .1em;
  font-size: 1rem;
  line-height: 1em;
   background: rgba(255,252,244, .8);
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 1px;
}

circle {
  pointer-events: none;
}

circle.watts {
  fill: none;
  pointer-events: fill;
}
   
#svgcontainer {
    z-index:-1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

svg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div#acrl a::after, div#cclo a::after, div#ilcs a::after, div#wpa a::after, div#wac a::after ,div#schaffer a::after {
  font-family:  FontAwesome;
  font-size: .5em;
  content:  "\f08e";
  padding-right: 0.5em;
  position: relative;
  top: -2;
  left: 8px; 
}
