:root {
  font-size: .875em;
}
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  font-family: "Lato", sans-serif;
}

#H {margin-right:0rem;}
#A {margin-right:1rem;}
#B {margin-right:2rem;}

#D {margin-right:2.4rem;}
#E {margin-right:2.8rem;}
#F {margin-right:3.2rem;}

#G {margin-right:3.4rem;}
#C {margin-right:3.6rem;}

#I {margin-right:3.7rem;}
#N {margin-right:3.8rem;}
#O {margin-right:3.7rem;}

#J {margin-right:3.6rem;}
#L {margin-right:3.4rem;}

#M {margin-right:3.2rem;}
#Q {margin-right:2.8rem;}
#K {margin-right:2.4rem;}

#P {margin-right:2rem;}
#R {margin-right:1rem;}
#S {margin-right:0rem;}

#AAA {margin-left:0rem;}
#BBB {margin-left:.5rem;}
#CCC {margin-left:1rem;}

#DDD {margin-left:1.4rem;}
#EEE {margin-left:1.8rem;}
#FFF {margin-left:2.2rem;}

#GGG {margin-left:2.5rem;}
#HHH {margin-left:2.8rem;}
#QQQ {margin-left:3rem;}

#PPP {margin-left:3rem;}

#OOO {margin-left:3rem;}
#RRR {margin-left:2.8rem;}
#NNN {margin-left:2.5rem;}

#SSS {margin-left:2.2rem;}
#KKK {margin-left:1.8rem;}
#LLL {margin-left:1.4rem;}

#III {margin-left:1rem;}
#JJJ {margin-left:.5rem;}
#MMM {margin-left:0rem;}

header {
  grid-area: header;
  text-align: center;
  font-size:  2rem;
  margin-bottom: 1.5rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row: auto;
  margin: auto;
  height: 100vh;
}

.framework {
  justify-self: center;
  text-align: center;
}

.framework .node {
  margin:  .8rem 0;
  font-size:  1.1rem;
}
.outcomes1 {
  justify-self: end;
  justify-items: end;
  text-align: right;
}

.outcomes1 .node {
  justify-items: end;
  min-height: 1.2rem;
  font-size:  1rem;
}

.outcomes2 {
  justify-self: start;
  justify-items: start;
  text-align: left;
}

.outcomes2 .node {
  justify-items: start;
  min-height: 1.2rem;
  font-size:  1rem;
}

.hilite {
  border-radius: 8px;
  border:  1px solid black;
  box-shadow:  2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  opacity: 1;
}

.lolite {
  opacity: .25;
}

.wac { color: teal; }
.cclo { color: blue;}
.wpa {color: orangered;}
.ilcs {color: fuchsia;}
.acrl {color: #393;}
.schaffer {color: #000}

#legend {
  font-size: 1rem; 
  display: inline;
  padding: 10px 0;
  float: right;
  z-index: 2;
  background-color: #fff;
  position: static;
  width: 65%;
  height: auto;
  border:  1px solid #333;
  border-radius: 8px;
}

#legend a {
  text-decoration: none;
  display: block;
  padding: 2px 8px;
}

#d3force {
  position: fixed;
  background-color: #d4d5d6;
  height: 100vh;
  width: 0%;
  margin-left: 100%;
  transition-property: width, margin-left;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

#d3force1 {
  position: fixed;
  background-color:  rgb(200,200,200);
  height: 100vh;
  width: 0%;
  margin-right: 100%;
  transition-property: width, margin-right;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

div.tooltip {
  width: 150px;
  height: auto;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding: 8px;
  border: none; 
  border-radius: 8%;
}

.tiptop {
   border-bottom:  2px solid white;
   box-shadow: 0 20px 40px -1px rgba(255, 248, 238, .8);
   background: -webkit-linear-gradient(top, #d4d5d6, rgba(255, 248, 238, .2) 30%, rgba(255,248,238, .9));
   background: -o-linear-gradient(top, #d4d5d6, rgba(255, 248, 238, .2) 30%, rgba(255,248,238, .9));
   background: linear-gradient(to bottom,#d4d5d6, rgba(255, 248, 238, .2) 30%, rgba(255,248,238, .9));
  transition-property: opacity;
  transition-duration: .75s;
  transition-timing-function: ease-in;
}

.tipright {
  box-shadow:-30px 0px 25px -1px rgba(255,248,238,.8);  
  background: -webkit-linear-gradient(right, #d4d5d6, rgba(255, 248, 238, .2) 30%, rgba(255,248,238, .9));
  background: -o-linear-gradient(right, #d4d5d6, rgba(255, 248, 238, .2) 30%, rgba(255,248,238, .9));
  background: linear-gradient(to left, #d4d5d6, rgba(255, 248, 238, .2) 30%, rgba(255,248,238, .9));
  border-bottom:  2px solid white;
  border-left:  2px solid white;
  transition-property: opacity;
  transition-duration: .75s;
  transition-timing-function: ease-in;
}

@media (max-width: 900px) {
  #legend {
    display: none;
  }
}
@media (max-width: 1000px) {
  #legend {
    font-size: 9px;
  }
  #chevron {
    display: none;
  }
}

span {
  display: inline-block;
  padding: 6px;
}

text {
  pointer-events: inherit;
  stroke: #666; 
  fill: #000; 
  stroke-width: 1;

} 
tspan {
  letter-spacing: .1em;
  font-size: 1rem;
  line-height: 1em;
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 1;
}

#chevron {
  margin: auto;
  margin-top: 50vh;
  background-color:  rgb(200,200,200);
  color: white;
  font-size: 1rem;
  display: none;
}

circle {
  pointer-events: none;
}
   
#svgcontainer {
    z-index:-1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

svg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

span.iline {
  display: inline;
}
dl {
  margin-left: 12px;
}
#legend span::before { 
  font-family:  FontAwesome;
  content:  "\f05a";
  padding-right: 0.5em;
  position: relative;
  top: 0;
  left: 0;
}
a.acrl::after, a.wpa::after, a.cclo::after {
  font-family:  FontAwesome;
  content:  "\f1c1";
  padding-right: 0.5em;
  position: relative;
  top: 0;
  left: 4px;
}
a.schaffer::after {
  font-family:  FontAwesome;
  content:  "\f1c2";
  padding-right: 0.5em;
  position: relative;
  top: 0;
  left: 4px;
}
